 #highScoresList {
  list-style:none;
  padding-left:0;
  margin-bottom: 16px;
}

.high-score {
  font-size: 24px;
  margin-bottom: 6px;
}

.high-score:hover {
  transform: scale(1.025);
}
#finalScore{
	font-size: 40px;
	font-weight: 500;
	color: rgb(234,625,277);
	font-family: sans-serif;
}